body {
    background: var(--color-base-50);
}

button, .button {
    --color-background-base: var(--color-base-200);
    --color-background-hover: var(--color-base-300);
    --color-background-active: var(--color-base-400);
    --color-text-base: var(--color-base-950);
    --color-text-hover: var(--color-base-950);
    --color-text-active: var(--color-base-950);

    border: 0;
    background: var(--color-background-base);
    color: var(--color-text-base);
    border-radius: var(--unit-3);
    font-family: var(--fontFamily), sans-serif;
    font-size: var(--fontSize);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--unit-3);
    cursor: pointer;
    transition: 0.15s ease-in-out all;
    flex-shrink: 0;

    &:not(:has([class^="ri-"])) {
        padding: 0 10px;
    }
    &:not(:has(span)):has([class^="ri-"]) {
        width: 40px;
    }

    & [class^="ri-"] {
        width: 22px;
        height: 22px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:not(:disabled):hover {
        background: var(--color-background-hover);
        color: var(--color-text-hover);
    }
    &:not(:disabled):active {
        background: var(--color-background-active);
        color: var(--color-text-active);
    }

    &.transparent {
        --color-background-base: transparent;
        --color-background-hover: var(--color-base-200);
        --color-background-active: var(--color-base-300);
        --color-text-base: var(--color-base-950);
        --color-text-hover: var(--color-base-950);
        --color-text-active: var(--color-base-950);
    }

    &.danger {
        --color-background-base: var(--color-danger-500);
        --color-background-hover: var(--color-danger-400);
        --color-background-active: var(--color-danger-600);
        --color-text-base: var(--color-danger-50);
        --color-text-hover: var(--color-danger-50);
        --color-text-active: var(--color-danger-50);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.button-group {
    display: flex;
    gap: var(--unit-1);
    align-items: center;

    & .button, & button {
        border-radius: 0;
        flex-grow: 1;

        &:first-child {
            border-top-left-radius: var(--unit-3);
            border-bottom-left-radius: var(--unit-3);
        }
        &:last-child {
            border-top-right-radius: var(--unit-3);
            border-bottom-right-radius: var(--unit-3);
        }
    }
}