:root {
    --fontFamily: 'Outfit Variable';
    --fontSize: 14px;
    --unit-0: 0px;
    --unit-1: 2px;
    --unit-2: 4px;
    --unit-3: 8px;
    --unit-4: 16px;
    --unit-5: 32px;
    --unit-6: 64px;

    font-family: var(--fontFamily), sans-serif;
    font-size: var(--fontSize);
    color: var(--color-base-950);

    --color-danger-50: #fbf3f4;
    --color-danger-100: #f2d3d7;
    --color-danger-200: #e9b3ba;
    --color-danger-300: #e0939d;
    --color-danger-400: #d77481;
    --color-danger-500: #ce5464;
    --color-danger-600: #c2384a;
    --color-danger-700: #a22e3e;
    --color-danger-800: #822532;
    --color-danger-900: #631c25;
    --color-danger-950: #431319;
    --color-base-50: #f8fafc;
    --color-base-100: #f1f5f9;
    --color-base-200: #e2e8f0;
    --color-base-300: #cbd5e1;
    --color-base-400: #94a3b8;
    --color-base-500: #64748b;
    --color-base-600: #475569;
    --color-base-700: #334155;
    --color-base-800: #1e293b;
    --color-base-900: #0f172a;
    --color-base-950: #020617;
}